@import '../../styles/App';

.noFavorites {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    color: $primary-text-color;
}

// Theme Dark/Light

.noFavorites[data-theme='darkFavorites'] {
    color: $sidebar-background-light;
}