@import '../../../styles/App';

.detailsLocations {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 24px;
    gap: 24px;
    margin: 24px;
    background: $sidebar-background-light;
    box-shadow: 0 10px 10px rgba(170, 198, 194, 10%);
    border-radius: 8px;

    p, li {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $main-text;
    }
}

.locations {
    max-width: 70%;
    width: 90%;

    &Name {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 32px;
    }
}

.history {
    &Name {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        margin-top: 32px;
    }
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

    a, p, span {
        color: $main-text;
        font-family: Inter, sans-serif;
        text-decoration: none;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        text-transform: capitalize;
    }

    p {
        padding: 20px 35px;
    }

    span {
        color: $primary-text-color;
    }
}

.aside {
    &Img {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }
}

// Theme Dark/Light

.detailsLocations[data-theme='darkDetailsLocations'] {
    background: $sidebar-background-dark;
    box-shadow: 0 10px 10px #6E7191;
    
    p, h1, h2, h3, li, a, span {
        color: $sidebar-background-light;
    }
}