@import '../../../styles/App';

.card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 0 10px 10px rgba(170, 198, 194, 10%);
    border-radius: 8px;
    max-width: 350px;
    padding: 15px;
    position: relative;

    &Image {
        align-self: center;
        display: flex;
        justify-content: center;
        min-width: 30%;
        width: 100%;

        img {
            max-width: 100%;
        }
    }

    &Wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    &Name {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 32px;
        color: $main-text;
        margin-top: 15px;
    }
    

    &Descr {
        height: 100%;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: $main-text;
    }

    &Info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 15px;

    }
}

// Theme Dark/Light

.card[data-theme='darkSquareLocations'] {
    background: $sidebar-background-dark;
    box-shadow: 0 10px 10px #6E7191;
    
    p, h1, span {
        color: $sidebar-background-light;
    }
}

.card[data-theme='lightSquareLocations'] {
    background: $sidebar-background-light;

}