$main-background-light: #F2F8FD;
$header-background-dark: #000;
$main-background-dark: #878787;
$sidebar-background-dark: #191919;
$sidebar-background-light: #FFF;
$main-text: #191919;
$primary-color: #6E7191;
$button-color: #11B0C8;
$max-page-width: 1920px;

html,
body {
    font: 16px/1.5;
    margin: 0 auto;
    font-family: Inter, sans-serif;
    user-select: none;
}

body {
    margin-left: 280px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    margin: 0 15px;
    min-width: 70vw;
}

.app {
    margin: 0;
    padding: 5px;
    height: 100%;
    min-height: 100vh;
}

a {
    color: $main-text;
}

#light.app {
    background: $main-background-light;
}

#dark.app {
    background: $main-background-dark;
}