$main-background-light: #F2F8FD;
$header-background-dark: #000;
$main-background-dark: #878787;
$sidebar-background-dark: #191919;
$sidebar-background-light: #FFF;
$primary-text-color: #525256;
$main-text: #191919;
$primary-color: #9F9F9F;
$button-color: #11B0C8;
$max-page-width: 1920px;

html,
body {
    font: 16px/1.5;
    margin: 0 auto;
    font-family: Inter, sans-serif;
    user-select: none;
}

body {
    margin-left: 280px;
}

main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 8px;
    margin: 0 15px;
    min-width: 70vw;
    min-height: 70vh;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: auto;
}

a {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: $main-text;
    text-transform: capitalize;
}

button {
    height: 42px;
    width: 42px;
    border: none;
    background-color: $button-color;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;

    a {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-decoration: none;
    }
}

.app {
    margin: 0;
    padding: 5px;
    height: 100%;
    min-height: 100vh;
}

p {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $primary-text-color;
    text-transform: capitalize;
}

#light.app {
    background: $main-background-light;
}

#dark.app {
    background: $main-background-dark;
}

#dark a {
    color: #FFF;
}