@import '../../styles/App';

.container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.wrap {
    display: flex;
    justify-content: center;
}
