@import '../../styles/App';

.container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    &Mode {
        display: flex;
        justify-content: space-between;
    }
}

.wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}
