@import '../../../styles/App';

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(170, 198, 194, 10%);
    border-radius: 8px;
    max-width: 230px;
    background: $header-background-light;
    padding: 15px;
    position: relative;

    &Image {
        align-self: center;
        display: flex;
        justify-content: center;
        min-width: 30%;
        width: 100%;

        img {
            max-width: 50%;
        }
    }

    &Wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    &Name {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 32px;
        color: $main-text;
    }
    

    &Descr {
        height: 100%;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: $main-text;
    }

    &Info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 15px;

        p {
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: $primary-color;
            padding: 0 20px;
        }
    }

    &State {
        background-image: url('../../../images/Pulse.png');
        background-repeat: no-repeat;
        background-position: -2px 4px;
    }

    &Gender {
        background-image: url('../../../images/gender.png');
        background-repeat: no-repeat;
        background-position: 0 4px;
    }

    &Species {
        background-image: url('../../../images/Alien.svg');
        background-repeat: no-repeat;
        background-position: -1px 3px;
    }

    &Planet {
        background-image: url('../../../images/Planet.svg');
        background-repeat: no-repeat;
        background-position: -1px 5px;
    }

    &Save {
        position: absolute;
        top: 15px;
        right: 15px;
        background-image: url('../../../images/Heart.png');
        background-repeat: no-repeat;
        background-position: 8px 7px;
        border-radius: 5px;
    }

    &More {
        align-self: flex-end;
        width: auto;
        height: auto;
        padding: 12px 22px;
        border-radius: 50px;
        color: $header-background-light;
    }
}