@import '../../styles/App';

.container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    &Mode {
        display: flex;
        justify-content: space-between;
    }

    &CardNot {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 48px;
        color: $primary-text-color;
        align-self: center;
    }
}

.wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}