@import '../../styles/App';

.langs {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $main-text;
    cursor: pointer;
    position: relative;
    align-self: flex-start;
    transition: color 0.25s;
    background-image: url('../../images/dropdown.png');
    background-repeat: no-repeat;
    background-position: 70px 14px;
    margin: 20px 0;
    padding: 13px 19px 15px 24px;

    &Menu {
        padding: 10px 15px;
        border-radius: 6px;
        background: red;
        position: absolute;
        top: 100%;
        display: none;
    }
}

.lang {
    font-weight: 500;
    cursor: pointer;
    font-size: 13px;
    color: rgba(255, 255, 255, 50%);
    transition: color 0.25s;     
}

.langs[data-theme='darkLangs'] {
    color: #FFF;
}