@import '../../styles/App';

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 97vh;
    width: 280px;
    padding-top: 40px;
    z-index: 800;
    border-right: 1px solid $primary-color;
    background-color: $sidebar-background-light;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    cursor: pointer;
    margin-bottom: 40px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.item {
    &Link {
        padding: 12px 16px 12px 52px;
        min-width: 156px;
        display: block;
    }

    &Home {
        background-image: url('../../images/home.png');
        background-repeat: no-repeat;
        background-position: 16px 10px;
    }

    &Characters {
        background-image: url('../../images/users.png');
        background-repeat: no-repeat;
        background-position: 16px 10px;
    }

    &Locations {
        background-image: url('../../images/Planet.png');
        background-repeat: no-repeat;
        background-position: 16px 10px;
    }

    &Favorites {
        background-image: url('../../images/heart-dark.png');
        background-repeat: no-repeat;
        background-position: 16px 10px;
    }
}

// Theme Dark/Light

.sidebar[data-theme='darkSidebar'] {
    background-color: $sidebar-background-dark;
    
    a {
        color: $sidebar-background-light;
    }
}

.sidebar[data-theme='lightSidebar'] {
    background-color: $sidebar-background-light;

}

.itemHome[data-theme='darkSidebar'] {
    background-image: url('../../images/Dark/home.png');
}

.itemCharacters[data-theme='darkSidebar'] {
    background-image: url('../../images/Dark/users.png');
}

.itemLocations[data-theme='darkSidebar'] {
    background-image: url('../../images/Dark/world.png');
}

.itemFavorites[data-theme='darkSidebar'] {
    background-image: url('../../images/Dark/heart-light.png');
}

// Active NavLink

.active {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background-color: #11b0c84f;
    border-radius: 12px;
    min-width: 156px;
    width: auto;
    color: $main-text;
    align-items: center;
    padding: 12px 16px 12px 52px;
    display: block;
}

